parameters:
	ignoreErrors:
		-
			message: "#^Consider using bind method instead or pass a closure\\.$#"
			count: 1
			path: src/AuthenticationServiceProvider.php

		-
			message: "#^Call to static method render\\(\\) on an unknown class Inertia\\\\Inertia\\.$#"
			count: 1
			path: src/Http/Controllers/Auth/LoginController.php

		-
			message: "#^Method Seatplus\\\\Auth\\\\Http\\\\Controllers\\\\Auth\\\\LoginController\\:\\:showLoginForm\\(\\) has invalid return type Inertia\\\\Response\\.$#"
			count: 1
			path: src/Http/Controllers/Auth/LoginController.php

		-
			message: "#^Method Seatplus\\\\Auth\\\\Http\\\\Middleware\\\\CheckPermissionAndAffiliation\\:\\:checkPermission\\(\\) is unused\\.$#"
			count: 1
			path: src/Http/Middleware/CheckPermissionAndAffiliation.php
