parameters:
	ignoreErrors:
		-
			message: "#^Consider using bind method instead or pass a closure\\.$#"
			count: 1
			path: src/AuthenticationServiceProvider.php

		-
			message: "#^Property Seatplus\\\\Auth\\\\Services\\\\Roles\\\\BaseRoleService\\:\\:\\$role \\(Seatplus\\\\Auth\\\\Models\\\\Permissions\\\\Role\\|null\\) does not accept Spatie\\\\Permission\\\\Contracts\\\\Role\\.$#"
			count: 1
			path: src/Services/Roles/BaseRoleService.php
